.tugas10{
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    width: 800px;
}
.tableItem-tugas10{
    width: 800px;
}
.tugas10 table{
    border: 2px solid black;
}

.title-tugas10{
    text-align: center;
}

.tugas10 th, td {
    border: 1px solid white;
}

.tugas10 th{
    background-color: rgb(160, 160, 160);
    font-weight: bold;
}
.tugas10 td{
    background-color: rgb(250, 119, 72);
}