.tugas13{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    
}
.tableTwo-tugas13{
    text-align: center;
}

.tugas13 .tableOne{
    text-align: center;
    
}

.tugas13 table{
    border: 2px solid black;
    width: 800px;
    text-align: center;
}

.title-tugas13{
    text-align: center;
}

.tableOne th, td {
    border: 2px solid black;
}
.tableTwo-tugas13 th, td {
    border: 2px solid black;
}

.tugas13 .tableOne th{
    background-color: rgb(160, 160, 160);
    font-weight: bold;
}
.tugas13 .tableOne td{
    background-color: rgb(250, 119, 72);
}

.button-click-tugas13{
    margin: 5px;
    transition-duration: 0.2s;
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    padding: 5px 10px;
    border: 2px solid black;

}

.button-click-tugas13:hover{
    background-color: blue;
    color: white;
}

.formBuah-tugas13{
    border: 3px solid black;
    margin: 40px;
    padding: 40px;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.buttform{
    float: right;
    margin-top: 30px;
}

.title-tugas13{
    margin-top: 30px;
    margin-bottom: -5px;
    text-align: center;
}

.input-form-tugas13{
    float: right;
    border: 2px solid black;
    width: 40%;
    padding-left: 10px;
}

.div-input-form-tugas13{
    margin: 20px 0;
}