.tugas14{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    
}
.tugas14 .tableTwo{
    text-align: center;
}

.tugas14 .tableOne{
    text-align: center;
    
}

.tugas14 table{
    border: 2px solid black;
    width: 800px;
    text-align: center;
}

.tugas14 .title{
    text-align: center;
}

.tableOne th, td {
    border: 2px solid black;
}
.tugas14 .tableTwo th, td {
    border: 2px solid black;
}

.tugas14 .tableOne th{
    background-color: rgb(160, 160, 160);
    font-weight: bold;
}
.tugas14 .tableOne td{
    background-color: rgb(250, 119, 72);
}

.tugas14 .button-click{
    margin: 5px;
    transition-duration: 0.2s;
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    padding: 5px 10px;
    border: 2px solid black;

}

.tugas14 .button-click:hover{
    background-color: blue;
    color: white;
}

.tugas14 .formBuah{
    border: 3px solid black;
    margin: 40px;
    padding: 40px;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tugas14 .buttform{
    float: right;
    margin-top: 30px;
}

.tugas14 .title{
    margin-top: 30px;
    margin-bottom: -5px;
    text-align: center;
}

.tugas14 .input-form{
    float: right;
    border: 2px solid black;
    width: 40%;
    padding-left: 10px;
}

.tugas14 .div-input-form{
    margin: 20px 0;
}